
.Form {
  color: white;
  width: 100%;
  margin-right: 8px;
  font-size: calc(13px + 2vmin);
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fit, 1fr);
  align-content: center;
  align-items: center;
}

.Form input {
  margin: 0 auto 16px;
  text-align: center;
  width: 60%;
  font-size: calc(2px + 2vmin);
}

.Form button {
  border: none;
  font-size: calc(2px + 2vmin);
  background-color: grey;
  text-align: center;
  text-decoration: none;
}
