
.Login-form
  width: 100%
  margin-right: 8px
  font-size: calc(13px + 2vmin)
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, 1fr)

.Login-form input
  width: 100%
  text-align: center
  font-size: calc(2px + 2vmin)
  margin-bottom: 16px

.Login-form button
  border: none
  font-size: calc(2px + 2vmin)
  background-color: grey
  text-align: center
  text-decoration: none
  display: inline-block

.Login-form-tabs
  width: 100%
  display: grid
  grid-gap: 5px
  grid-template-columns: repeat(2, 1fr)
  margin-bottom: 0

.Login-form-tabs button
  background-color: inherit
  float: left
  border: none
  outline: none
  transition: 0.3s
  width: 100%
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  margin-bottom: 0

.Login-form-tabs button:hover
  background-color: black
  color: white

.Login-form-child
  width: 100%
  background: black
