
.Login-form
  font-size: calc(13px + 2vmin)
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, 1fr)

.Login-form input
  width: 100%
  text-align: center
  font-size: calc(2px + 2vmin)
  margin-bottom: 16px
