@import '../../assets/style/_colors.scss';

.Home {
  // position
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // sizes
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  // layout
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);

  &-column {
    // alignment
    justify-content: center;
    text-align: center;
    align-items: center;
    // layout
    display: flex;
    flex-direction: column;
  }

  &-img-cover {
    // layout
    grid-column: span 4;
    // color
    background-color: black;

    h1 {
      // position
      position: fixed;
      top: 10%;
      // color
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    img {
      // sizes
      width: 100%;
      height: 100%;
      // layout
      object-fit: cover;
    }
  }

  &-img {
    // sizes
    width: 100%;
    height: 100%;
    // color
    opacity: .6;
    color: black;
  }

  &-login-register {
    // sizes
    height: 80%;
    padding-right: 10px;
    justify-content: center;
    grid-column: span 3;
  }

  &-send-button {
    border: none;
    background-color: $primary;
    color: white;
    font-size: calc(6px + 2vmin);
    position: fixed;
    bottom: 100px;
    width: 10%;
    height: 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
  }
  
  &-send-button:hover {
    background-image: linear-gradient($secondary, $primary);
  }

  &-switch-message {
    // sizes
    font-size: calc(6px + 1vmin);
    // position
    position: fixed;
    bottom: 0;
    // colors
    cursor: pointer;
    color: darkblue
  }

}

