@import '../../assets/style/_colors.scss';
@import '../../assets/style/_mixins.scss';

.Home {
  // position
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // sizes
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  // layout
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4fr 3fr;

  &-column {
    // alignment
    justify-content: center;
    text-align: center;
    align-items: center;
    // layout
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-img-cover {
    // color
    background-color: black;

    img {
      // sizes
      width: 100%;
      height: 100%;
      // layout
      object-fit: cover;
      filter: blur(5px);
      // color
      opacity: .7;
      color: black;
    }
  }

  &-login-register {
    // sizes
    height: 80%;
    padding-right: 10px;
    justify-content: center;
  }

  &-send-button {
    @include full-rounded-borders(10px);
    border: none;
    background-color: $primary;
    color: white;
    font-size: calc(6px + 2vmin);
    position: fixed;
    bottom: 100px;
    width: 10%;
    height: 5%;
    cursor: pointer;
    transition: 0.8s;
  }
  
  &-send-button:hover {
    background-image: linear-gradient($secondary, $primary);
  }

  &-switch-message {
    // sizes
    font-size: calc(6px + 1vmin);
    // position
    position: fixed;
    bottom: 0;
    // colors
    cursor: pointer;
    color: darkblue
  }

}

