@import '../../assets/style/mixins';
@import '../../assets/style/colors';

.Home {
  text-align: center;

  &-action {

    &-icon {
      margin-right: 20px;
    }

    button {
      @include full-rounded-borders(10px);
      background: none;
      border: black;
      outline: inherit;
      padding: 20px;
      font: inherit;
      cursor: pointer;
      color: $secondary-back;
      text-transform: uppercase;
      font-size: calc(10px + 1vmin);
      width: 100%;
    }

    button:hover {
      @include special-hover
    }

  }

  &-subtitle {
    color: $secondary-back;
  }

  &-dashboard:hover {
    @include special-hover
  }

}