
/* BACKGROUNDS  HSL */
$primary-hsl: hsla(178%, 21%, 28%, 1);
$secondary-hsl: hsla(129%, 6%, 58%, 1);
$primary-back-hsl: hsla(270%, 8%, 85%, 1);
$secondary-back-hsl: hsla(247%, 6%, 69%, 1);
$extra-hsl: hsla(245%, 100%, 95%, 1);

/* BACKGROUNDS RGBA */
$primary: rgba(57, 87, 86, 1);
$secondary: rgba(142, 155, 144, 1);
$primary-back: rgba(173, 172, 181, 1);
$secondary-back: rgba(216, 213, 219, 1);
$extra: rgba(234, 232, 255, 1);
