@import './_colors';

@mixin full-rounded-borders($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  border-radius: $border;
}

@mixin bottom-rounded-borders($border) {
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@mixin shadow($color) {
  -moz-box-shadow:    3px 3px 15px 3px $color;
  -webkit-box-shadow: 3px 3px 15px 3px $color;
  box-shadow:         3px 3px 15px 3px $color;
}

@mixin primary-container {
  @include shadow(#777);
  background: $primary;
}

@mixin home-primary-container {
  @include primary-container;
  @include full-rounded-borders(10px);

  width: 50%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  min-height: 200px;
  color: white;
  font-size: calc(15px + 1vmin);
}

@mixin special-hover {
  letter-spacing: 2px;
  -webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}


